.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: cadetblue;
  position: sticky;
  top: 0;
  &__title {
    text-transform: uppercase;
  }
  &__input {
    border-radius: 2px;
    border-color: transparent;
    width: 150px;
    padding: 5px;
  }
}

.button {
  padding: 5px;
  cursor: pointer;
  background-color: ghostwhite;
  border-radius: 2px;
  transition: 0.3s all;
  &:hover {
    background-color: coral;
  }
  &--sign-in {
    display: block;
    margin: 20px auto;
    width: 100px;
  }
}

.table {
  width: 80vw;
  margin: 20px auto 50px;
  border: 2px solid grey;
  border-collapse: collapse;
  &__capture {
    font-size: 20px;
  }
  &__header-cell {
    text-align: center;
    background: #ccc;
    padding: 5px;
    border: 1px solid black;
  }
  &__person-cell {
    text-align: center;
    padding: 5px;
    border: 1px solid black;
  }
}